
.slippy-map {
  background: none;
  overflow: hidden;
  position: relative;
}

.slippy-map .slippy-surface {
  position: absolute;
  z-index: 2;
}

.slippy-surface .tile {
  position: absolute;
}

.slippy-map .slippy-sunlight {
  position: absolute;
  z-index: 3;
}

.slippy-sunlight .sunlight {
  position: absolute;
}

