
.slippy-map {
/*  background-color: #333; */
  background: none;
  overflow: hidden;
  position: relative;
}

.slippy-map .slippy-surface {
  position: absolute;
  z-index: 2;
}

.slippy-map .slippy-tile {
  position: absolute;
}

