#dock {
  background: #000
}

.clock {
  position: absolute;
  right: 20px; top: 0;
  z-index: 100;
  text-align: right;
}

.clock .time {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.8);
}

.clock .date {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.dimness {
  position: absolute;
  z-index: 99;
  top: 0, left: 0;
  width: 100%; height: 100%;
  background-color: #000;
  opacity: 0.8;
}

.enyo-toolbar {
  position: absolute;
  z-index: 100;
  bottom: -60px;
  width: 100%;
  -webkit-transition: bottom .25s ease-out; 
}

.hide-toolbar {
  bottom: -60px;
}

.show-toolbar {
  bottom: 0px;
}
