#dock {
  background: #000
}

.clock {
  position: absolute;
  left: 20px; top: 0;
  z-index: 99;
  color: #fff;
  font-size: 4rem;
}

.overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  z-index: 100;
  background: black;
}

.darken .overlay {
  opacity: 0.65;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 5s;
}
