
body {
	background-color: transparent;
	color: #fff;
}

.container {
	margin: 0 10px 10px 10px;
}

.icon {
	width: 60px;
	height: 60px;
	background: url('images/alarm-icon.png');
}

.name {
	margin-bottom: 5px;
}

.text {
	font-size: 80%;
}

.snooze {
	color: #fff;
	margin-top: 10px;
	background-color: rgba(30,30,30,0.5);
}

.dismiss {
	margin-top: 10px;
}

.dismiss .slidelock-button {
	width: 100px;
}