
.dimmer {
}

.dimmer .dark-icon,
.dimmer .lite-icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

.dimmer .dark-icon { background: url('images/dimmer.png') 0 0 no-repeat; }
.dimmer .lite-icon { background: url('images/dimmer.png') 0 -24px no-repeat; }

.dimmer-slider {
  width: 200px;
}

.dimmer-slider .enyo-slider-progress {
  opacity: 0.5;
  padding: 0; margin: 5px;
}